<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hw1/src/edu/iastate/cs228/hw1/PredatorPrey.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.iastate.cs228.hw1.PredatorPrey"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hw1"/>
</launchConfiguration>
